services:
  # --- Infrastructure ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    depends_on:
      - kafka
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:9092
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081

  # Databases
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: burak
      POSTGRES_PASSWORD: burak
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: burak
      MONGO_INITDB_ROOT_PASSWORD: burak
    restart: unless-stopped
    volumes:
      - mongo:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: burak
      ME_CONFIG_MONGODB_ADMINPASSWORD: burak
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ENABLE_ADMIN: 'true'
    depends_on:
      - mongo
    restart: unless-stopped

  # Services
  rider-service:
    build: ./services/rider-service
    depends_on:
      - kafka
      - schema-registry
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8092:8092"

  ride-command-service:
    build: ./services/ride-command-service
    depends_on:
      - kafka
      - schema-registry
      - postgres
    environment:
      SPRING_PROFILE_ACTIVE: docker
    ports:
      - "8102:8102"

  ride-query-service:
    build: ./services/ride-query-service
    depends_on:
      - kafka
      - schema-registry
      - mongo
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8112:8112"

volumes:
  postgres:
  mongo: